.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 36px;
  color: #38bdf8;
}

.hero p {
  font-size: 18px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  background: #020617;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  text-align: center;
}

.card h3 {
  color: #38bdf8;
}
